BODY {
	FONT-SIZE: 10pt; MARGIN: 0px; COLOR: #000000; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ffffff
}
H1 {
	FONT-SIZE: 18pt; PADDING-TOP: 6pt; FONT-FAMILY: Verdana
}
H2 {
	FONT-SIZE: 16pt; PADDING-TOP: 15pt; FONT-FAMILY: Verdana
}
H3 {
	FONT-SIZE: 14pt; PADDING-TOP: 15pt; FONT-FAMILY: Verdana
}
H4 {
	FONT-SIZE: 12pt; PADDING-TOP: 15pt; FONT-FAMILY: Verdana
}
H5 {
	FONT-SIZE: 10pt; PADDING-TOP: 15pt; FONT-FAMILY: Verdana
}
H6 {
	FONT-WEIGHT: bold; FONT-SIZE: 20pt; MARGIN: 0px; COLOR: #800000; TEXT-INDENT: 0px; LINE-HEIGHT: 75%; FONT-FAMILY: Verdana; TEXT-ALIGN: left
}
PRE {
	FONT-SIZE: 10pt; LINE-HEIGHT: 120%; FONT-FAMILY: Courier
}
TABLE {
	FONT-SIZE: 10pt; FONT-FAMILY: Verdana
}
TR {
	FONT-SIZE: 10pt; FONT-FAMILY: Verdana
}
TH {
	FONT-SIZE: 10pt; FONT-FAMILY: Verdana
}
TD {
	FONT-SIZE: 10pt; FONT-FAMILY: Verdana
}
UL {
	FONT-SIZE: 10pt; FONT-FAMILY: Verdana; LIST-STYLE-TYPE: square
}
UL LI {
	FONT-SIZE: 10pt; PADDING-BOTTOM: 9pt; FONT-FAMILY: Verdana
}
UL LI UL {
	FONT-SIZE: 8pt; MARGIN-LEFT: 12pt; PADDING-TOP: 3pt; FONT-FAMILY: Verdana; LIST-STYLE-TYPE: square
}
UL LI UL LI {
	PADDING-BOTTOM: 3pt; FONT-FAMILY: Verdana
}
OL {
	FONT-SIZE: 10pt; FONT-FAMILY: Verdana
}
OL LI {
	FONT-SIZE: 10pt; PADDING-BOTTOM: 9pt; FONT-FAMILY: Verdana
}
P {
	FONT-SIZE: 10pt; FONT-FAMILY: Verdana
}
B {
	FONT-FAMILY: Verdana
}
I {
	FONT-FAMILY: Verdana
}
STRONG {
	FONT-FAMILY: Verdana
}
BLOCKQUOTE {
	FONT-FAMILY: Verdana
}
TABLE.Full {
	HEIGHT: 100%
}
.TbColor {
	COLOR: #000000; BACKGROUND-COLOR: #ffffcc
}
.SbColor {
	COLOR: #000000; BACKGROUND-COLOR: #ffffcc
}
.MenuColor {
	COLOR: #ffffff; BACKGROUND-COLOR: #000080
}
.TinyButton {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 8pt; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Verdana
}
.TbTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 20pt; MARGIN: 0px; COLOR: #800000; TEXT-INDENT: 0px; LINE-HEIGHT: 75%; FONT-FAMILY: Verdana; TEXT-ALIGN: left
}
.SbTitle {
	MARGIN-TOP: 20pt; FONT-WEIGHT: bold; FONT-SIZE: 8pt; MARGIN-BOTTOM: 2pt; MARGIN-LEFT: 2pt; COLOR: #800000; FONT-FAMILY: Verdana
}
.SbText {
	MARGIN-TOP: 0pt; FONT-SIZE: 8pt; MARGIN-BOTTOM: 0pt; MARGIN-LEFT: 10pt; FONT-FAMILY: Verdana
}
.MenuText {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #000080; TEXT-DECORATION: none
}
A.MenuText:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffff00; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #000080; TEXT-DECORATION: none
}
.InfoBox {
	BORDER-RIGHT: #000080 1pt solid; BORDER-TOP: #000080 1pt solid; MARGIN-TOP: 20pt; FONT-SIZE: 8pt; MARGIN-BOTTOM: 20pt; BORDER-LEFT: #000080 1pt solid; WIDTH: 80%; COLOR: #000000; BORDER-BOTTOM: #000080 1pt solid; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ccffff
}
.AlertBox {
	BORDER-RIGHT: #000080 1pt solid; BORDER-TOP: #000080 1pt solid; MARGIN-TOP: 20pt; FONT-SIZE: 8pt; MARGIN-BOTTOM: 20pt; BORDER-LEFT: #000080 1pt solid; WIDTH: 95%; COLOR: #ffffff; BORDER-BOTTOM: #000080 1pt solid; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #800000
}
TABLE.BroTaBack {
	BORDER-RIGHT: #808080 1pt solid; BORDER-TOP: #808080 1pt solid; BORDER-LEFT: #808080 1pt solid; WIDTH: 100%; BORDER-BOTTOM: #808080 1pt solid; BORDER-COLLAPSE: collapse
}
TD.BroTaBack {
	COLOR: #000000; BACKGROUND-COLOR: #f0f0f0
}
.TabHeadGRN {
	BORDER-TOP: #000000 1pt solid; MARGIN-TOP: 20pt; FONT-WEIGHT: bold; FONT-SIZE: 8pt; MARGIN-BOTTOM: 2pt; MARGIN-LEFT: 2pt; COLOR: #ffffff; BORDER-BOTTOM: #000000 1pt solid; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #008000
}
.TabTextGRN {
	MARGIN-TOP: 0pt; FONT-SIZE: 8pt; MARGIN-BOTTOM: 0pt; MARGIN-LEFT: 10pt; COLOR: #000000; BORDER-BOTTOM: #008000 1pt solid; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ccffcc
}
.TabTextAUTO {
	MARGIN-TOP: 0pt; FONT-SIZE: 8pt; MARGIN-BOTTOM: 0pt; MARGIN-LEFT: 10pt; BORDER-BOTTOM: #008000 1pt solid; FONT-FAMILY: Verdana
}
.BMTitle {
	BORDER-TOP: #000000 1pt solid; MARGIN-TOP: 20pt; FONT-WEIGHT: bold; FONT-SIZE: 8pt; MARGIN-BOTTOM: 2pt; MARGIN-LEFT: 2pt; COLOR: #ffffff; BORDER-BOTTOM: #000000 1pt solid; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #008000
}
.BMBar {
	MARGIN-TOP: 0pt; FONT-SIZE: 8pt; MARGIN-BOTTOM: 0pt; MARGIN-LEFT: 10pt; COLOR: #000000; BORDER-BOTTOM: #008000 1pt solid; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ccffcc
}
.BMNoBar {
	MARGIN-TOP: 0pt; FONT-SIZE: 8pt; MARGIN-BOTTOM: 0pt; MARGIN-LEFT: 10pt; BORDER-BOTTOM: #008000 1pt solid; FONT-FAMILY: Verdana
}
.CopyRight {
	CLEAR: both; MARGIN-TOP: 18pt; FONT-SIZE: 8pt; FONT-FAMILY: Verdana; TEXT-ALIGN: center
}
.TinyTxt {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana
}
.TableHeading {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #000099
}
.TableBody {
	FONT-SIZE: 10pt; FONT-FAMILY: Verdana
}
.clear {
	CLEAR: both
}
.error {
	FONT-WEIGHT: bold; COLOR: #ff0000
}
.FormField {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt
}
.BtBar {
	BORDER-BOTTOM: #000000 1pt solid
}
.RiBar {
	BORDER-RIGHT: #000000 1pt solid
}
